<div class="dashboard">
  <h1> :. HEALTH TRACKER .: </h1><br><br>
  <img src= "http://theinvisibleneighbors.com/wp-content/uploads/2015/01/Heart-health-graphic.jpg"><br><br>
  <h3> An app used to store information on your weight, daily steps taken, calories consumed, and exercises performed.</h3>
  =======================================================================================

  <h2> :. Stats .: </h2>
  -------------------<br><br>
  <p>Your Current Weight: <%= @current_weight %><p>
  <p>So far today you have walked <%= @steps_today %> miles.</p>
  <p>Total Number of Exercises Today: <%= @exercise_total_today %></p>
  <p>Net Caloric Intake Today: <%= @calories_consumed_today - @calories_burned_today %> </p>
  <p>Total Amount of Calories Consumed Today: <%= @calories_consumed_today %> </p>
  <p>Total Calories Burned Today: <%= @calories_burned_today %></p>
  <p>Total Number of Exercises Ever: <%= @exercise_total_ever %></p>

  =======================<br>
  <%= link_to 'View Exercises', exercises_path %> |
  <%= link_to 'All Calorie Consumption', calorie_consumptions_path %>  |
  <%= link_to "View Weights", weights_path %> |
  <%= link_to "View Steps", steps_path %>
  <br>=======================
</div>
