<p id="notice"><%= notice %></p>

<h1>Listing Steps</h1>

<table>
  <thead>
    <tr>
      <th>Step</th>
      <th>Date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @steps.each do |step| %>
      <tr>
        <td><%= step.number_of_steps %></td>
        <td><%= step.date %></td>
        <td><%= link_to 'Edit', edit_step_path(step) %></td>
        <td><%= link_to 'Destroy', step, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
=======================<br>
<%= link_to 'New Step', new_step_path %> |
<%= link_to 'Home', root_path %><br>
=======================
