<p id="notice"><%= notice %></p>

<p>
  <strong>Exercise type:</strong>
  <%= @exercise.exercise_type_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @exercise.name %>
</p>

<p>
  <strong>Date:</strong>
  <%= @exercise.date %>
</p>

<p>
  <strong>Calories burned:</strong>
  <%= @exercise.calories_burned %>
</p>

<%= link_to 'Edit', edit_exercise_path(@exercise) %> |
<%= link_to 'All Exercises', exercises_path %> |
<%= link_to 'Home', root_path %>
